.about {
  padding: 48px 0 52px;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-bottom: 36px;
  }

  &__image {
    img {
      margin: 0 auto;
      max-width: 500px;
      width: 100%;
    }
  }

  @include for-size($tablet-landscape-up) {
    .container {
      align-items: center;
      display: flex;
      gap: 120px;
    }
    &__inner {
      width: 60%;
    }

    &__heading {
      max-width: 520px;
    }

    &__text {
      max-width: 680px;
    }

    &__image.mobile-hide {
      width: 40%;
    }
  }
}
