.footer {
  align-items: center;
  background-color: $clr-black-2;
  &__inner,
  &__bottom,
  &__bottom .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  &__nav {
    line-height: 1.5;
    ul {
      display: flex;
      flex-direction: column;
      gap: 32px;
      text-align: center;
      li {
        a {
          color: $clr-gray-light-2;
          &:hover {
            color: $clr-pink;
          }
        }
      }
    }
  }
  &__bottom {
    border-top: 1px solid $clr-gray-light-2;
    color: $clr-gray;
    padding-top: 30px;
    img {
      margin: 0 auto;
    }
  }
}
