.table {
  background-color: $clr-gray-light;
  padding: 44px 0;

  &__heading {
    text-align: center;
    .date {
      align-items: center;
      display: flex;
      font-size: 0.75rem;
      font-style: italic;
      font-weight: 500;
      gap: 4px;
      justify-content: center;
      line-height: 1.265;
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    gap: 14px;
      max-width: 1080px;
  margin: 0 auto;
  }

  @include for-size($tablet-portrait-up) {
    &__main {
      gap: 16px;
    }
  }
}
